@font-face {
  font-family: Hylia;
  src: url(Fonts/hyliaserifbeta-regular-webfont.woff2);
}

body {
  background-color: rgb(40, 40, 40);
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.js-slider {
  position: relative;
  width: 1700px;
  overflow: hidden;
}

.js-boxes {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.5s;
}

.box {
  border-radius: 10px;
  height: 400px;
  background-color: white;
  margin-right: 100px;
}

.box img:not(.Rubis) {
  width: 500px;
  height: 250px;
  margin: 0;
  flex-shrink: 0;
}

.box h2 {
  position: relative;
  top: -35%;
  margin: 0;
  margin-left: 10px;
  font-family: Hylia;
}

.box p {
  position: relative;
  top: -36%;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  color: gray;
}

.Prix {
  position: relative;
  top: 5%;
  left: 72%;
  font-family: Hylia;
}

.Rubis {
  position: relative;
  top: -12%;
  left: 85%;
    max-width: 30px;
}

.Bouton {
  position: relative;
  top: -2%;
  left: 60.5%;
  background-color: darkgreen;
  color: white;
  font-size: 1.25rem ;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.left {
  width: 32px;
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 2;
  filter: invert();
}

.right {
  width: 32px;
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 2;
  transform: rotate(180deg);
  filter: invert();
}